#tableborder /*вся таблица обернута в тег div и обрезана псредством overflow:hidden; это костыль для рамки с округлыми углами*/
{
    
    border-color: black;
    border-width: 3px;  
    border-style: solid;
    border-radius: 20px; 
    height: 480px;      
    width: 480px; 
    overflow: hidden
}
#alll
{
    
}
#board {
    margin: 0px;    /*костыль для границы*/
    padding: 0px;   /*костыль для границы*/
    border-color:black;
    border-width: 0px;  /*костыль для границы*/
    border-style: solid;
    border-collapse: collapse;
    border-radius: 20px; /*костыль для границы*/
}
#clockround /*общий контейнер для 12 элементов по кругу*/
{
    position: absolute;
    top: 0;
    left: 0;
}
.whitee
{
    background-color:white;
}
.blackk
{
    background-color: rgb(0,0,0);
}

.cell   /*этот класс имеют все клетки*/
{
    width:40px;
    height:40px;
    border-width: 0px;
    border-style: solid;
    margin: 0px;
    padding: 0px;
}


.whitee.active {
    background-color: rgb(255,255,150) ;
}
.blackk.active {
background-color:rgb(255,176,46);}
.clckrnd    /*класс для каждого из 12 часов*/
{
    background-color:white;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    border-radius:20px;
    position:absolute;
    width: 40px;
    height: 40px;
}
/*#sqr1
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr2
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr3
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr4
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr5
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr6
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr7
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr8
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr9
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr10
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr11
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr12
{
	posistion:absolute;
	top:0px;
	left:0px;
}*/
